.popover {
    --popover-border-color: #ccc;
    --popover-bg-color: #fff;
    --popover-color: #000;

    position: absolute;
    box-sizing: border-box;
    color: var(--popover-color);
    border: 1px solid var(--popover-border-color);
    border-radius: 5px;
    background-color: var(--popover-bg-color);
    filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 20%));
}

/* popover-arrow */

.popover::before,
.popover::after {
    position: absolute;
    content: "";
    z-index: 1;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 10px solid transparent;
    overflow: hidden;
    pointer-events: none;
}

/* popover-bottom */

.popover-bottom::before,
.popover-bottom::after {
    top: -20px;
}

.popover-bottom::before {
    border-bottom-color: var(--popover-border-color);
}

.popover-bottom::after {
    border-bottom-color: var(--popover-bg-color);
}

.popover-bottom-center::before,
.popover-bottom-center::after {
    left: calc(50% - 10px);
}

.popover-bottom-center::after {
    transform: translate(0, 1.42px);
}

.popover-bottom-right::before,
.popover-bottom-right::after {
    left: -1px;
    border-left: transparent;
}

.popover-bottom-right::after {
    transform: translate(1px, 2.42px);
}

.popover-bottom-left::before,
.popover-bottom-left::after {
    left: calc(100% - 9px);
    border-right: transparent;
}

.popover-bottom-left::after {
    transform: translate(-1px, 2.42px);
}

/* popover-top */

.popover-top::before,
.popover-top::after {
    top: 100%;
}

.popover-top::before {
    border-top-color: var(--popover-border-color);
}

.popover-top::after {
    border-top-color: var(--popover-bg-color);
}

.popover-top-center::before,
.popover-top-center::after {
    left: calc(50% - 10px);
}

.popover-top-center::after {
    transform: translate(0, -1.42px);
}

.popover-top-right::before,
.popover-top-right::after {
    left: -1px;
    border-left: transparent;
}

.popover-top-right::after {
    transform: translate(1px, -2.42px);
}

.popover-top-left::before,
.popover-top-left::after {
    left: calc(100% - 9px);
    border-right: transparent;
}

.popover-top-left::after {
    transform: translate(-1px, -2.42px);
}

/* popover-right */

.popover-right::before,
.popover-right::after {
    left: -20px;
}

.popover-right::before {
    border-right-color: var(--popover-border-color);
}

.popover-right::after {
    border-right-color: var(--popover-bg-color);
}

.popover-right-center::before,
.popover-right-center::after {
    top: calc(50% - 10px);
}

.popover-right-center::after {
    transform: translate(1.42px, 0);
}

.popover-right-bottom::before,
.popover-right-bottom::after {
    top: -1px;
    border-top: transparent;
}

.popover-right-bottom::after {
    transform: translate(2.42px, 1px);
}

.popover-right-top::before,
.popover-right-top::after {
    top: calc(100% - 9px);
    border-bottom: transparent;
}

.popover-right-top::after {
    transform: translate(2.42px, -1px);
}

/* popover-left */

.popover-left::before,
.popover-left::after {
    left: 100%;
}

.popover-left::before {
    border-left-color: var(--popover-border-color);
}

.popover-left::after {
    border-left-color: var(--popover-bg-color);
}

.popover-left-center::before,
.popover-left-center::after {
    top: calc(50% - 10px);
}

.popover-left-center::after {
    transform: translate(-1.42px, 0);
}

.popover-left-bottom::before,
.popover-left-bottom::after {
    top: -1px;
    border-top: transparent;
}

.popover-left-bottom::after {
    transform: translate(-2.42px, 1px);
}

.popover-left-top::before,
.popover-left-top::after {
    top: calc(100% - 9px);
    border-bottom: transparent;
}

.popover-left-top::after {
    transform: translate(-2.42px, -1px);
}

/* popover-arrow-radius  */

.popover-bottom-right {
    border-top-left-radius: 0;
}

.popover-bottom-left {
    border-top-right-radius: 0;
}

.popover-top-right {
    border-bottom-left-radius: 0;
}

.popover-top-left {
    border-bottom-right-radius: 0;
}

.popover-right-bottom {
    border-top-left-radius: 0;
}

.popover-right-top {
    border-bottom-left-radius: 0;
}

.popover-left-bottom {
    border-top-right-radius: 0;
}

.popover-left-top {
    border-bottom-right-radius: 0;
}
